appdirs==1.4.4
appnope==0.1.2
argon2-cffi==20.1.0
astroid==2.3.3
async-generator==1.10
attrs==20.3.0
Automat==20.2.0
backcall==0.2.0
beautifulsoup4==4.8.2
bleach==3.3.0
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.4
chardet==3.0.4
click==7.1.2
constantly==15.1.0
cryptography==3.3.1
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
entrypoints==0.3
filelock==3.0.12
Flask==1.1.2
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
greenlet==1.1.0
hyperlink==21.0.0
idna==2.10
incremental==17.5.0
ipykernel==5.4.3
ipython==7.20.0
ipython-genutils==0.2.0
isort==4.3.21
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==1.0.0
jsonify==0.5
jsonschema==3.2.0
jupyter-client==6.1.11
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.3.0
mccabe==0.6.1
mistune==0.8.4
mysql-connector==2.2.9
mysql-connector-python==8.0.21
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
notebook==6.2.0
numpy==1.19.1
packaging==20.9
pandas==1.2.1
pandocfilters==1.4.3
parsel==1.6.0
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prometheus-client==0.9.0
prompt-toolkit==3.0.14
Protego==0.1.16
protobuf==3.13.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
pygame==2.0.0
Pygments==2.7.4
PyHamcrest==2.0.2
pylint==2.4.4
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyquery==1.4.3
pyrsistent==0.17.3
python-dateutil==2.8.1
python-dotenv==0.17.1
pytube==9.6.0
pytube3==9.6.4
pytz==2020.5
pyzmq==22.0.2
queuelib==1.5.0
requests==2.24.0
scikit-learn==0.24.1
scipy==1.6.0
Scrapy==2.4.1
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
six==1.14.0
soupsieve==1.9.5
sportsreference==0.5.2
SQLAlchemy==1.4.14
terminado==0.9.2
testpath==0.4.4
threadpoolctl==2.1.0
tornado==6.1
traitlets==5.0.5
Twisted==20.3.0
typing-extensions==3.7.4.2
urllib3==1.25.10
virtualenv==20.3.1
w3lib==1.22.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.11.2
WTForms==2.3.3
zope.interface==5.2.0
