{% extends "websitetake2.jinja2" %}

{% macro render_field(field) %}
  {{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {{ field.label }}
{% endmacro %}

{% block styling %} 
<link rel="stylesheet" href="{{ url_for("static", filename="styleContactForm.css") }}">
{% endblock %}

{% block content %}
<div class="box">
    <h2>Contact Me</h2>

    <form method="POST" action="/contact">
      {{ form.csrf_token }}

      <fieldset class="inputBox">
        {{ render_field(form.subject, onkeyup="this.setAttribute('value', this.value);",  value="") }}
      </fieldset>

      <fieldset class="inputBox">
        {{ render_field(form.message, onkeyup="this.setAttribute('value', this.value);",  value="") }}
      </fieldset>
      
      <div class="submit-button">
        {{ form.submit }}
      </div>

    </form>
</div>
{% endblock %}