{% extends "websitetake2.jinja2" %}

{% block content %}
<div class="form-wrapper">

    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button
          type="button"
          class="close"
          data-dismiss="alert">
          x
        </button>
        {{ message }}
      </div>
    {% endfor %}

    <h1>Contact Me</h1>

    <form method="POST" action="/contact">
      {{ form.csrf_token }}

      <fieldset class="subject">
        {{ form.subject.label }}
        {{ form.subject(placeholder='Your subject here') }}
        {% if form.subject.errors %}
          <ul class="errors">
            {% for error in form.subject.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="message">
        {{ form.message.label }}
        {{ form.message(placeholder='Your message here') }}
        {% if form.message.errors %}
          <ul class="errors">
            {% for error in form.message.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="confirm">
        {{ form.confirm.label }}
        {{ form.confirm }}
        {% if form.confirm.errors %}
          <ul class="errors">
            {% for error in form.confirm.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <div class="submit-button">
        {{ form.submit }}
      </div>

    </form>
    
{% endblock %}