<!DOCTYPE html>
<html>
<head>
  <title>PatSite</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="p-3 mb-2 bg-dark text-white">.bg-dark</div>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div style="background-color:black" class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ url_for('routes_blueprint.renderHomepage') }}">HOME</a></li>
          {% if current_user.is_anonymous %}
          <li><a href="{{ url_for('auth_bp.signup') }}">SIGN UP</a></li>
          <li><a href="{{ url_for('auth_bp.login') }}">LOG IN</a></li>
          {% else %}
          <li role="presentation" class="active"><a href="{{ url_for('routes_blueprint.logout') }}">LOG OUT</a></li>
          {% endif %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for('routes_blueprint.contactPage') }}">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <h1>Pat's Gambling Site</h1>
    <p>Picks are based off of gaussian regression machine learning model</p> 
  </div>

    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button
          type="button"
          class="close"
          data-dismiss="alert">
          x
        </button>
        {{ message }}
      </div>
    {% endfor %}

  {% block content %}{% endblock %}

</body>
</html>